.tile {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 252, 191);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    user-select: none;
}

.letter {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    flex: 1;
    color: black !important;
    user-select: none;
}

.points {
    margin: 0;
    font-weight: bold;
    /* text-align: end; */
    font-size: 10px;
    align-self: flex-end;
    color: black !important;
    user-select: none;
}

.letterOnRack {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  flex: 1;
  color: black !important;
  user-select: none;
}

.pointsOnRack {
  margin: 0;
  font-weight: bold;
  /* text-align: end; */
  font-size: 15px;
  align-self: flex-end;
  color: black !important;
  user-select: none;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Aligner-item {
    max-width: 50%;
  }
  

  
  .Aligner-item--bottom {
    align-self: flex-end;
  }

  .aiBounce {
    animation-name: bounceIn;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-fill-mode: both;
  }

  .submitted {
    animation-name: animate;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: both;
  }


  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes animate {
    0% { transform: translateX(0%); }
    25% { transform: translateX(+25%) rotate(90deg) scale(1.2); }
    75% { transform: translateX(-25%) rotate(-90deg) scale(1.2); }
    100% { transform: translateX(0%); }
  }


  @media only screen and (max-width: 992px) {

    .letter {
      font-size: 15px;
    }

    .points {
      font-size: 8px;
    }

    .letterOnRack{
      font-size: 20px;
    }

    .pointsOnRack{
      font-size: 10px;
    }


  }

  

  @media only screen and (min-width: 993px) and (max-width: 1199px) {

    .letter {
      font-size: 18px;
    }

    .points {
      font-size: 8px;
    }

    .letterOnRack{
      font-size: 25px;
    }

    .pointsOnRack{
      font-size: 12px;
    }


  }