.tile {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 252, 191);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    user-select: none;
}

.letter {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    flex: 1;
    color: black !important;
    user-select: none;
}

.points {
    margin: 0;
    font-weight: bold;
    /* text-align: end; */
    font-size: 10px;
    align-self: flex-end;
    color: black !important;
    user-select: none;
}

.letterOnRack {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  flex: 1;
  color: black !important;
  user-select: none;
}

.pointsOnRack {
  margin: 0;
  font-weight: bold;
  /* text-align: end; */
  font-size: 15px;
  align-self: flex-end;
  color: black !important;
  user-select: none;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Aligner-item {
    max-width: 50%;
  }
  

  
  .Aligner-item--bottom {
    align-self: flex-end;
  }

  .submitted {
    animation-name: animate;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

  
  
  @keyframes animate
  {     
          /* from {
          transform: scale(1);
          }

          to {
            transform: scale(1.2); 
          } */
          0% { transform: translateX(0%); } 
          25% { transform: translateX(+25%) rotate(90deg) scale(1.2); } 
          75% { transform: translateX(-25%) rotate(-90deg) scale(1.2); } 
          100% { transform: translateX(0%); } 
  }


  @media only screen and (max-width: 992px) {

    .letter {
      font-size: 15px;
    }

    .points {
      font-size: 8px;
    }

    .letterOnRack{
      font-size: 20px;
    }

    .pointsOnRack{
      font-size: 10px;
    }


  }

  

  @media only screen and (min-width: 993px) and (max-width: 1199px) {

    .letter {
      font-size: 18px;
    }

    .points {
      font-size: 8px;
    }

    .letterOnRack{
      font-size: 25px;
    }

    .pointsOnRack{
      font-size: 12px;
    }


  }