.wrappingSquare {
    width: 6.66%;
    height: 6.66%;
}

.wrappingBoard {
    width: 100%;
     height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.aspectratio {
    width: 89%;
    height: 0;
    padding-bottom: 89%;
    position: relative;
  }
  
  .innerwrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media only screen and (max-width: 992px) {

    .aspectratio {
        width:100%;
        padding-bottom: 100%;
    }


  }
