.playerInfo {
    display: flex;
    flex-direction: column;
    width:50%;
}

.horz {
    display: flex;
    flex-direction: row;

}

.select {
    height:100%;
}

.shadow1 { 
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  }

  .shadow2 { 
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  }

  .card {
    padding: 20px;
    background: #fff;
    /* max-width: 360px; */
    /* width:50%; */
    border-radius: 20px;
    /* margin: 60px auto; */
  }

