.modalbody{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: turquoise;
}

.spinner{
    width: 100%;
    background-color: cornflowerblue;
}

.spinnertext{
    /* width: 100%;
    font-size: 2em;
    color: blue; */
    /* border: 2px solid #888;
    padding: 5px;
    border-radius: 10px;
    background-color: #FF00FF; */
    text-align: center;
    width: 100%;
}

.rackContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Ensure rack is appropriately sized in modal */
.rackContainer > div {
    max-width: 400px;
    width: 100%;
}

@media only screen and (max-width: 576px) {
    .rackContainer > div {
        max-width: 100%;
    }

    .rackContainer {
        margin-bottom: 15px;
    }
}


